<div class="flex column gap-2  items-center" style="height: 100%;">
    <div class="flex row end gap-2">
        <ui-button role="success" (onClick)="sendChecked()">Send</ui-button>
        <ui-button role="danger" #btn (onClick)="sendClear(btn)">Send clear</ui-button>
    </div>
    <div class="flex row end gap-2">
        <!-- {{now}} -->
        <input type="color" id="head" name="head" (change)="setColor($event)" [value]="color" />
        <div class="palette-dropdown">
            <div (click)="isPaletteVisible = true" class="cursor-pointer">{{color}}</div>
            @if (isPaletteVisible) {
            <ui-color-palette [(value)]="color" (valueChange)="isPaletteVisible = false" />
            }
        </div>
        <ui-input [(value)]="duration"></ui-input>
        <ui-button role="primary" (onClick)="setChecked()">Set</ui-button>
        <ui-button role="warning" (onClick)="setClear()">Set clear</ui-button>
    </div>
    <div class="flex row gap-2 center">
        <app-leds [leds]="leds" [(selected)]="selectedLeds" [selectMode]="selectMode"
            (ledClick)="onLedClick($event)"></app-leds>
        <div class="flex column gap-2 top items-center">
            @for (item of selectModesDict; track $index) {
            <ui-button (onClick)="selectMode = item.mode" [role]="selectMode === item.mode ? 'primary' : 'default'"
                [label]="item.label" [compact]="true"></ui-button>
            }
        </div>
    </div>
    @if (selectedLeds.length) {
    <div class="flex column gap-2 items-center" style="min-width: 500px;">
        <app-led-editor [value]="selectedLeds[0]" [color]="color"/>
    </div>
    }
</div>