.contrast {
    color: black;
    text-shadow: #ffffff 1px 0 2px;
}

.palette-dropdown {
    position: relative;
    & ui-color-palette {
        top: 28x;
        left: 0px;
        position: absolute;
    }
}

.led-editor-wrapper {
    position: sticky;
    bottom: 0px;
    height: 300px;
    min-width: 100%;
    background: var(--bg-color);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);    
}