.contrast {
    color: black;
    text-shadow: #ffffff 1px 0 2px;
}

.sidebar-dropdown {
    position: relative;
}

ui-color-palette {
    top: 28px;
    left: 0px;
    position: absolute;
}

app-presets {
    z-index: 99;
    top: 28px;
    left: 0px;
    position: absolute;
    background: var(--bg-color);
    min-width: 442px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.led-editor-wrapper {
    position: sticky;
    bottom: 0px;
    height: 300px;
    min-width: 100%;
    background: var(--bg-color);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);    
}