
    <div class="scrollable settings">
        <div class="flex column m-2" style="width: 50%;">
            <label for="">Device address:</label>
            <div class="flex row gap-2">
                <ui-input type="text" [(value)]="baseURL" [fullWidth]="true"></ui-input>
                <ui-button (onClick)="autoDetectAddress()" [compact]="true" style="margin-left: 40px;">Detect</ui-button>
                <div [style.color]="detectAddressResultColor || 'white'">result: {{detectAddressResult}}</div>
            </div>
        </div>
        

        <!-- <h1>Seeting</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus voluptate nobis at ratione corrupti a mollitia culpa illum odio numquam eos nulla perferendis alias ducimus deserunt aut voluptatum, modi sed?
        Ullam omnis aperiam optio laborum voluptas, nesciunt incidunt exercitationem a sunt perspiciatis harum dolorum mollitia vero esse sapiente non aliquam, facilis rerum laudantium in doloribus distinctio adipisci libero. Dolorum, nemo?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <h2>Dolor sit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus voluptate nobis at ratione corrupti a mollitia culpa illum odio numquam eos nulla perferendis alias ducimus deserunt aut voluptatum, modi sed?
        Ullam omnis aperiam optio laborum voluptas, nesciunt incidunt exercitationem a sunt perspiciatis harum dolorum mollitia vero esse sapiente non aliquam, facilis rerum laudantium in doloribus distinctio adipisci libero. Dolorum, nemo?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <h2>Ullam omnis aperiam optio l</h2>
        <h2>Dolor sit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus voluptate nobis at ratione corrupti a mollitia culpa illum odio numquam eos nulla perferendis alias ducimus deserunt aut voluptatum, modi sed?
        Ullam omnis aperiam optio laborum voluptas, nesciunt incidunt exercitationem a sunt perspiciatis harum dolorum mollitia vero esse sapiente non aliquam, facilis rerum laudantium in doloribus distinctio adipisci libero. Dolorum, nemo?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <h2>Ullam omnis aperiam optio l</h2>
        <h2>Dolor sit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus voluptate nobis at ratione corrupti a mollitia culpa illum odio numquam eos nulla perferendis alias ducimus deserunt aut voluptatum, modi sed?
        Ullam omnis aperiam optio laborum voluptas, nesciunt incidunt exercitationem a sunt perspiciatis harum dolorum mollitia vero esse sapiente non aliquam, facilis rerum laudantium in doloribus distinctio adipisci libero. Dolorum, nemo?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <h2>Ullam omnis aperiam optio l</h2>
        <h2>Dolor sit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus voluptate nobis at ratione corrupti a mollitia culpa illum odio numquam eos nulla perferendis alias ducimus deserunt aut voluptatum, modi sed?
        Ullam omnis aperiam optio laborum voluptas, nesciunt incidunt exercitationem a sunt perspiciatis harum dolorum mollitia vero esse sapiente non aliquam, facilis rerum laudantium in doloribus distinctio adipisci libero. Dolorum, nemo?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <h2>Ullam omnis aperiam optio l</h2>
        <h2>Dolor sit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus voluptate nobis at ratione corrupti a mollitia culpa illum odio numquam eos nulla perferendis alias ducimus deserunt aut voluptatum, modi sed?
        Ullam omnis aperiam optio laborum voluptas, nesciunt incidunt exercitationem a sunt perspiciatis harum dolorum mollitia vero esse sapiente non aliquam, facilis rerum laudantium in doloribus distinctio adipisci libero. Dolorum, nemo?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <h2>Ullam omnis aperiam optio l</h2>
        <h2>Dolor sit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus voluptate nobis at ratione corrupti a mollitia culpa illum odio numquam eos nulla perferendis alias ducimus deserunt aut voluptatum, modi sed?
        Ullam omnis aperiam optio laborum voluptas, nesciunt incidunt exercitationem a sunt perspiciatis harum dolorum mollitia vero esse sapiente non aliquam, facilis rerum laudantium in doloribus distinctio adipisci libero. Dolorum, nemo?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium cupiditate. Explicabo, voluptatum doloremque asperiores in cum dicta reprehenderit voluptates, saepe beatae dolorum unde, ipsum repudiandae aspernatur id fuga nihil.</p>
        <h2>Ullam omnis aperiam optio l</h2>    -->
    </div>
    

