<div class="flex column gap-2 p-2">
    <div class="flex row">
        <ui-input 
            [value]="value.vector.timeOffset"
            (valueChange)="onTimeOffsetChange($event)"
            type="number"
        ></ui-input>
        <ui-input 
            [(value)]="maxT" 
            (valueChange)="onMaxTChange()"
            type="number" [min]="100"
        ></ui-input>
    </div>
    <div class="flex row slider" #timeLine
        (mousedown)="onSliderClick($event)" 
        (mousemove)="onPointMove($event, selectedPoint)"
        (touchmove)="onTouchMove($event, selectedPoint)"
        >
        @for (point of value.vector.points; track $index) {
        <div class="point-marker {{point === selectedPoint ? 'selected' : ''}}"
            [style.backgroundColor]="getStyleColor(point)" [style.left]="getPointLeft(point)"
            (mousedown)="selectPoint(point)" 
            (touchstart)="selectPoint(point)"
            ></div>
        }
    </div>
    @if (selectedPoint) {
        <div class="flex row gap-2">
            <div class="flex column gap-2">
                <div class="flex row  gap-2">
                    <input type="color" 
                        (change)="setPointColor(selectedPoint, $event)" 
                        [value]="getPointColor(selectedPoint)" 
                    />
                    <ui-input [(value)]="selectedPoint.t" type="number"></ui-input>
                    <ui-button (onClick)="deletePoint(selectedPoint)" role="danger" [compact]="true">Delete</ui-button>
                </div>
                <div>orderFn: {{selectedPoint.orderFn}}</div>
                <div>timeFn: {{selectedPoint.timeFn}}</div>
                <div>rgb: {{selectedPoint.r}},{{selectedPoint.g}},{{selectedPoint.b}}</div>
                <div>hex: {{getPointColor(selectedPoint)}}</div>
            </div>
        </div>
    }
</div>
