<div class="p-2">
    <h1>Modes list</h1>
    @if (!isLoading) {
        <div class="flex column gap-2 modes-list">
            <div class="cursor-pointer p-2 mode {{!selectedMode ? 'active' : ''}}"
                (click)="setMode(null)" 
            >Grid mode</div>
            @for (mode of modes; track $index) {
                <div class="cursor-pointer p-2 mode {{mode === selectedMode ? 'active' : ''}}"
                    (click)="setMode(mode)" 
                >{{mode.name}}</div>
            }
        </div>
    }
    @else {
        <h3>Loading modes list...</h3>
    }

</div>
