<div class="flex column" style="height: 100%">
    <div class="flex row grow-1 gap-2 center p-4">
        <div class="sosna-logo" routerLink="/{{RouterPath.Grid}}" ></div>
    </div>
    <div class="flex row gap-2  center">
        <ui-button role="default">Default</ui-button>
        <!-- <ui-button role="success">Success</ui-button> -->
        <!-- <ui-button role="primary">Primary</ui-button>
        <ui-button role="warning">Warning</ui-button>
        <ui-button role="danger" label="Danger"></ui-button> -->
    </div>
</div>

