:root {
    --bg-color: rgb(54, 59, 58);
    --bg-color-dark: rgb(41, 46, 45);
    --bg-color-light: rgb(230, 239, 239);

    --font-color: rgb(200,200,200);
    --font-color-dark: rgb(41, 46, 45);
    --border-color: rgb(101, 101, 101);

    --btn-default-color: rgb(92, 96, 98);
    --btn-success-color: rgb(104 141 28);
    --btn-primary-color: rgb(21 115 135);
    --btn-warning-color: rgb(185 86 15);
    --btn-danger-color: rgb(145 56 31);

    --step-1: 4px;
    --step-2: 8px;
    --step-3: 16px;
    --step-4: 32px;

    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-md: 18px;
    --font-size-l: 24px;
    --font-size-xl: 28px;

}